<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Pyszności' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>1851ad03-5926-4581-8c60-2670e279d3b6</InstrumentationKey>
</ApplicationInsights>